.container6 {
  display: flex;
  align-items: center;
  width: 1200px;
  height: 110px;
  background: #fff;
  margin-top: 2px;
}
.container6__item {
  color: #000;
  padding: 14px 55px 14px 13px;
  margin-left: 516px;
  background: #dfdfdf;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.arrow-1 {
  cursor: pointer;
  position: relative;
  width: 80px;
  height: 50px;
  margin: 20px;
  margin-left: -40px;
}
.arrow-1 div {
  position: relative;
  top: 25px;
  width: 22.5px;
  height: 2px;
  background-color: #000;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  left: 0;
  display: block;
}
.arrow-1 div::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  top: -2.75px;
  right: -2px;
  background-color: #000;
  transform: rotate(45deg);
}
.arrow-1 div::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  top: 2.75px;
  right: -2px;
  background-color: #000;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);
}

.container-7 {
  width: 1200px;
  height: 110px;
  background: #fff;
  margin-top: 74px;
  border-radius: 10px;
}
.container-7__list {
  display: flex;
  align-items: center;
  text-align: center;
  list-style-type: none;
  gap: 60px;
  padding-top: 18px;
  margin-left: 13px;
}

.container-7__link {
  text-decoration: none;
}

.container-7__li__img {
}

.container-7__item {
  margin-top: 8px;
  font-size: 20px;
  color: #000;
}
.container-8 {
  width: 1200px;
  height: 445px;
  margin-top: 19px;
  background: #f5f5f5;
  display: flex;
}

.container-8__img-1 {
  margin-left: -8px;
  width: 412px;
  height: 462px;
}

.container-8__img-2 {
  margin-left: 5px;
  width: 412px;
  height: 462px;
}

.container-8__img-3 {
  margin-left: 6px;
  width: 412px;
  height: 462px;
}

.container-9__list {
  list-style-type: none;
  padding-top: 21px;
  gap: 17px;
}

.container-9__div {
  width: 340px;
  height: 42px;
  background: #fcc341;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 17px;
  margin-left: -25px;
  border-radius: 3px;
}

.container-9__item {
  position: absolute;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  margin-left: 3%;
  margin-top: 10px;
}

.container-9__li {
}

.container-10 {
  display: flex;
}

.item__sathya {
  font-size: 30px;
  margin-left: 194px;
  margin-top: 54px;
}

.container-10__img {
  position: absolute;
  margin-top: 52px;
  margin-left: 305px;
}

.container-11__1xbet-1 {
  display: flex;
  margin-top: 22px;
  margin-left: 15px;
  align-items: center;
}

.container-11__Ubet-1 {
  display: flex;
  margin-top: 6px;
  margin-left: 15px;
  align-items: center;
}

.container-11__fonbet-1 {
  display: flex;
  margin-top: 6px;
  margin-left: 15px;
  align-items: center;
}

.container-11__item {
  font-size: 28.5px;
  margin-left: 53px;
}

.container-11__arrow {
  width: 18px;
  height: 18px;
  margin-left: 20px;
}

.container-11__1xbet-2 {
  display: flex;
  font-size: 20px;
  margin-left: -79px;
  margin-top: -3px;
}

.container-11__Ubet-2 {
  display: flex;
  font-size: 20px;
  margin-left: -79px;
  margin-top: 8px;
}

.container-11__fonbet-2 {
  display: flex;
  font-size: 20px;
  margin-left: -79px;
  margin-top: -1px;
}

.container-11__1xbet-2__item-1 {
  color: #ffffff;
  padding: 14px 49px 13px 58px;
  margin-left: 88px;
  background: #000;
  border-radius: 3px;
  text-decoration: none;
}
.container-11__1xbet-2__item-2 {
  color: #ffffff;
  text-decoration: none;
  padding: 13px 57px 13px 65px;
  margin-left: 11px;
  background: #fcc341;
  border-radius: 3px;
  text-decoration: none;
}

.container6-v2__item {
  color: #000;
  padding: 10px 55px 14px 13px;
  background: #dfdfdf;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
  margin-left: 91px;
}

.arrow-2 {
  cursor: pointer;
  position: absolute;
  width: 80px;
  height: 50px;
  margin: 20px;
  margin-left: -40px;
}

.container6-v2 {
  display: flex;
}

.container-12 {
  width: 1200px;
  font-size: 17px;
  font-weight: 400;
  line-height: 24.5px;
  margin-top: 5px;
}

.item__onlinesport {
  font-size: 30px;
  font-weight: 600;
}

.container-12__item {
}

.container-12__item::after {
  content: url(../img/Слой_x0020_1.svg);
  margin-left: -1px;
  margin-top: 3px;
}

.container-12__item-1 {
}

.container-12__item-3 {
}

.container-12__item-3::after {
  content: url(../img/Слой_x0020_1.svg);
  margin-left: -2px;
  margin-top: 3px;
}

.container-13 {
  margin-top: -21px;
  display: flex;
}

.container-13__item {
  font-size: 30px;
}

.container-13__img {
  position: absolute;
  margin-left: 377px;
  margin-top: 25px;
}

.ccontainer-12__div-2 {
  display: flex;
}

.container-12__div-2__item {
  font-size: 30px;
}

.container-12__div-2__img {
  position: absolute;
  margin-top: -70px;
  margin-left: 779px;
}

.container-12__item-2 {
  font-size: 17px;
  font-weight: 400;
  line-height: 24.5px;
  margin-top: 15px;
}

.footer {
  width: 1920px;
  height: 312px;
  background: #ffffff;
  margin-top: 30px;
}

/*.footer__div-1 {

}
*/

.footer__list-main__link {
  text-decoration: none;
  color: #fcc341;
}

.footer__div-1 {
  margin-top: 63px;
  width: 370px;
  height: 154px;
}

.footer__div-2 {
  margin-top: 63px;
  width: 185px;
  height: 176px;
}

.footer__div-3 {
  margin-top: 63px;
  width: 308px;
  height: 132px;
}

.footer__div-4 {
  margin-top: 63px;
  width: 235px;
  height: 132px;
}

.footer__div-5 {
  margin-top: 63px;
  width: 224px;
  height: 176px;
}

.footer__list {
  color: #8a8a8a;
  margin-left: -13px;
}

.footer__list__link {
  text-decoration: none;
  color: #8a8a8a;
}

.footer__list__link:hover {
  color: #fcc341;
}
svg {
  color: #fcc341;
}
svg:hover {
  fill: red;
}
.app-container {
  background: #fff;
  width: 1200px;
  height: 1550px;
  margin-top: 60px;
}
.app-container__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24.5px;
  margin-left: 36px;
  margin-top: -30px;
}
.app-container__list__main {
  width: 360px;
  height: 306px;
  background: #f5f5f5;
}
.app-container__list {
  list-style-type: none;
  padding: 0px 33px;
  margin-top: 44px;
  margin-bottom: 0;
  display: flex;
  gap: 28px;
}
.app-container__list__li {
}

.app-container__list__bookm,
.app-container__list__bookm-1xctabka,
.app-container__list__bookm-ubet,
.app-container__list__bookm-fonbet,
.app-container__list__bookm-leon,
.app-container__list__bookm-ggbet,
.app-container__list__bookm-mostbet,
.app-container__list__bookm-melbet,
.app-container__list__bookm-winline,
.app-container__list__bookm-betcity,
.app-container__list__bookm-marafonbet,
.app-container__list__bookm-bwin {
  position: absolute;
  width: 320px;
  text-align: center;
  background: #fff;
  margin-top: 16px;
  margin-left: 20px;
}

.app-container__list__bookm {
  padding: 29px;
}
.app-container__list__bookm-1xctabka {
  padding: 44.5px 20px;
}
.app-container__list__bookm-ubet {
  padding: 20px 30px 0px 40px;
}
.app-container__list__bookm-fonbet {
  padding: 38px 35px 46.28px 35px;
}
.app-container__list__bookm-leon {
  padding: 30px 37px 37.17px 33px;
}
.app-container__list__bookm-ggbet {
  padding: 40px 32px 41px 28px;
}
.app-container__list__bookm-mostbet {
  padding: 44px 37px;
}
.app-container__list__bookm-melbet {
  padding: 44px 36px;
}
.app-container__list__bookm-winline {
  padding: 44px 34px 45px 33px;
}
.app-container__list__bookm-betcity {
  padding: 44px 30px 45px 29px;
}
.app-container__list__bookm-marafonbet {
  padding: 26px 60px;
}
.app-container__list__bookm-bwin {
  padding: 33px 63px 33px 62px;
}
.app-container__list__main__div {
  position: absolute;
  width: 360px;
  padding: 30px;
  text-align: center;
  margin-top: 163px;
  background: #fcc341;
}
.app-container__list__main__div__text {
  display: inline-block;
  padding: 41px 146px;
  width: 292px;
  height: 82px;
  border-radius: 3px;
  background: #000;
  color: #fff;
}
.app-container__list__main__div__text__p {
  white-space: nowrap;
  font-weight: 700;
  font-size: 25px;
  margin-top: -13px;
  margin-left: -121.5px;
}
.app-container__img-1xbet {
  display: inline-block;
  background: url(../img/bookmakers/1xBet-BIG.svg);
  width: 250px;
  height: 71.04px;
}
.app-container__img-1xctabka {
  display: inline-block;
  background: url(../img/bookmakers/1xctabka-BIG.svg);
  width: 250px;
  height: 41px;
}
.app-container__img-ubet {
  display: inline-block;
  background: url(../img/bookmakers/Ubet-BIG.svg);
  width: 250px;
  height: 110px;
}
.app-container__img-fonbet {
  display: inline-block;
  background: url(../img/bookmakers/fonbet-BIG.svg);
  width: 250px;
  height: 45.72px;
}
.app-container__img-leon {
  display: inline-block;
  background: url(../img/bookmakers/leon-BIG.svg);
  width: 250px;
  height: 62.87px;
}
.app-container__img-ggbet {
  display: inline-block;
  background: url(../img/bookmakers/ggbet-BIG.svg);
  width: 250px;
  height: 49px;
}
.app-container__img-mostbet {
  display: inline-block;
  background: url(../img/bookmakers/mostbet-BIG.svg);
  width: 246px;
  height: 42px;
}
.app-container__img-melbet {
  display: inline-block;
  background: url(../img/bookmakers/melbet-BIG.svg);
  width: 248px;
  height: 42px;
}
.app-container__img-winline {
  display: inline-block;
  background: url(../img/bookmakers/winline-BIG.svg);
  width: 253px;
  height: 41px;
}
.app-container__img-betcity {
  display: inline-block;
  background: url(../img/bookmakers/betcity-BIG.svg);
  width: 261px;
  height: 41px;
}
.app-container__img-marafonbet {
  display: inline-block;
  background: url(../img/bookmakers/marafonbet-BIG.svg);
  width: 200px;
  height: 78px;
}
.app-container__img-bwin {
  display: inline-block;
  background: url(../img/bookmakers/bwin-BIG.svg);
  width: 195px;
  height: 64px;
}
.apps-page-main {
  width: 1200px;
  height: 1157px;
  margin-left: 160px;
  margin-top: 38px;
  background: #fff;
}
.apps-page-main__info {
  width: 1100px;
  height: 195px;
  margin-top: 53.35px;
  background: #f5f5f5;
  display: flex;
}
.apps-page-main__info__bookm {
  position: absolute;
  width: 250px;
  height: 90px;
  margin: 53px 38px;

  background: #fff;
}
.apps-page-main-img {
  width: 170px;
  height: 48.31px;
  background: url(../img/bookmakers/1xbet.svg);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 21px;
}

.apps-page-main__info__text {
  margin-left: 300px;
  padding: 53px 49px;
}

.apps-page-main__info__text1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24.2px;
  margin: 0;
}

.apps-page-main__info__text2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36.31px;
  margin: 0;
}
.apps-page-main__content {
  width: 268px;
  height: 127px;
  margin-left: 118px;
  margin-top: 35px;
}
.apps-page-main__content-1,
.apps-page-main__content-2 {
  width: 268px;
  height: 50px;
  border-radius: 3px;
}

.apps-page-main__content-1 {
  background: #000;
}

.apps-page-main__content-2 {
  margin-top: 27px;
  background: #fcc341;
}
.apps-page-main__content-text {
  margin: 0;
  padding: 13px 17px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}
.apps-page-main__list {
  list-style-type: none;
  padding: 0;
  margin-top: 63px;
  display: flex;
}
.apps-page-main__list__li {
  margin-right: 30px;
  margin-bottom: 30px;
}
.apps-page-main__list__li-div {
  width: 250px;
  height: 95px;
  background: #f5f5f5;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.apps-page-main__list__li-div-info {
  position: absolute;
  width: 180px;
  height: 95px;
  margin-left: 35px;
  text-align: center;
}
.apps-page-main__list__li-div-info__text {
  font-weight: 500;
  font-size: 25px;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 5px;
}
.apps-page-main__container-grey {
  margin: 0;
  display: block;
  padding: 30px 30px;
  position: absolute;
  width: calc(100% + 70px);
  margin-left: -30px;
  background: #f5f5f5;
}
